USE [DDS_7FI_PRD]
GO
/****** Object:  StoredProcedure [dbo].[7Card_Weekly_Sales_Report]    Script Date: 05/30/2017 11:08:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- AUTHOR:		<TI>
-- CREATE DATE: <Feb 2017>
-- DESCRIPTION:	<7Card Weekly Report>
-- =============================================
ALTER PROCEDURE [dbo].[7Card_Weekly_Sales_Report] 
AS
BEGIN
	-- DECLARE VARIABLES
	DECLARE @TMPFILE VARCHAR(255) 
	DECLARE @TGTDIR VARCHAR(255)
	DECLARE @TGTFILE VARCHAR(255) 
    DECLARE @DATE DATE
    DECLARE @SQL  VARCHAR(8000)
    DECLARE @RPDATE VARCHAR(20)
    --CURRENT DATE
    SET @DATE = GETDATE()    
    --LASTEST CDR DATE
    SELECT @RPDATE = CONVERT(varchar,MAX(CONTACT_DATE_TIME),112) from DDS_CDR
	-- TMPLATE PATH 
	SET @TMPFILE = 'D:\7FI_PRD\REPORTS\TEMPLATE\7CCF_Weekly_Sales_Report_Template.xls'
	-- MAKE TARGET DIRECTORY 
	SET @TGTDIR = 'D:\7FI_PRD\REPORTS\DAILYREPORTS\7CCF_REPORTS_' + @RPDATE + '\Weekly_Report\'
	SET @SQL = 'MKDIR ' + @TGTDIR
	EXEC MASTER..XP_CMDSHELL @SQL, NO_OUTPUT

	--COPY THE TEMPLATE FILE
	SET @TGTFILE = @TGTDIR + '7CCF_Weekly_Sales_Report_' + CONVERT(VARCHAR,@RPDATE,112)+'.XLS'		
	SET @SQL = 'COPY /Y '+ @TMPFILE + ' /B ' + @TGTFILE
	PRINT @TMPFILE 		
	PRINT @TGTFILE		

	EXEC MASTER..XP_CMDSHELL @SQL, NO_OUTPUT
--Update CAMPAIGN_CODE to DISPLAY_CPCD 2017-02-20
SET @SQL = 'INSERT INTO OPENROWSET(''MICROSOFT.ACE.OLEDB.12.0''' +
			',''EXCEL 8.0;DATABASE=' + @TGTFILE +
			''',''SELECT * FROM [DATA1$]'')' +  
'
 SELECT '
+ CONVERT(VARCHAR,@DATE,112) +' AS GETDATE,
CASE WHEN DC.CAMPAIGN_TYPE IN (''BB'',''XS'') THEN ''TM'' ELSE CAMPAIGN_TYPE END AS CAMPAIGN_TYPE,
DC.DISPLAY_CPCD,
DC.CAMPAIGN_STARTDATE,
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-12,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-12,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-12,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-12,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-12,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-12,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-11,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 9,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 9,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 9,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-10,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 9,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 8,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-9,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 9,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 8,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-9,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 9,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 8,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-9,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 8,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 7,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-8,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 8,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 7,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-8,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 8,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 7,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-8,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 7,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 6,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-7,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 7,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 6,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-7,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 7,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 6,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-7,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 6,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 5,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-6,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 6,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 5,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-6,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 6,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 5,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-6,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 5,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 4,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-5,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 5,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 4,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-5,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 5,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 4,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-5,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 4,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 3,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-4,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 4,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 3,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-4,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 4,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 3,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-4,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 3,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 2,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-3,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 3,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 2,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-3,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 3,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 2,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-3,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 2,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 1,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-2,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 2,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 1,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-2,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 2,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 1,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-2,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 1,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 0,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-1,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 1,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 0,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-1,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 1,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 0,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-1,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 0,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,+ 1,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE=''IOIF02'' THEN 1 ELSE 0 END) AS F_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-0,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 0,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,+ 1,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN 1 ELSE 0 END) AS P_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-0,@DATE),112),1,6)+',
SUM(CASE WHEN CONVERT(VARCHAR,VALIDATED_DATE,112) BETWEEN '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,- 0,@DATE),112),1,6)+'06'+''' AND '''+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,+ 1,@DATE),112),1,6)+'05'+''' AND SALES_PROD_PLAN_CODE IN (''IOSA15'',''NDCAN1'',''NDCAN4'') THEN MONTHLY_PREMIUM ELSE 0 END) AS MP_'+SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,-0,@DATE),112),1,6)+'
   FROM DDS_CDR AS CDR
   LEFT OUTER JOIN
        DDS_CAMPAIGN AS DC
     ON CDR.CAMPAIGN_CODE = DC.CAMPAIGN_CODE
  WHERE SALES_VALIDATION_CODE = ''VALIDATED''
GROUP BY CAMPAIGN_TYPE,
         DC.DISPLAY_CPCD,
         DC.CAMPAIGN_STARTDATE
ORDER BY CAMPAIGN_TYPE,DC.DISPLAY_CPCD,DC.CAMPAIGN_STARTDATE
'
	--EXECUTE SP_EXECUTESQL @CMD 
	EXEC SP_SQLEXEC @SQL
END

